<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.film.dao.FilmTypeMapper" >
  <resultMap id="BaseResultMap" type="com.film.model.Types" >
    <id column="type_Id" property="typeId" jdbcType="INTEGER" />
    <id column="film_Id" property="filmId" jdbcType="INTEGER" />
  </resultMap>
</mapper>