<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.film.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.film.model.User" >
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
  </resultMap>

  <!-- 是否有相同的昵称 -->
  <select id="selectByName" parameterType="java.lang.String" resultType="int">
    SELECT COUNT(NAME)
    FROM user
    WHERE NAME = #{name}
  </select>

  <!-- 是否有相同的邮箱 -->
  <select id="selectByEmail" parameterType="java.lang.String" resultType="int">
    SELECT COUNT(email)
    FROM user
    WHERE email = #{email}
  </select>

  <!-- 是否有相同的手机号 -->
  <select id="selectByPhone" parameterType="java.lang.String" resultType="int">
    SELECT COUNT(phone)
    FROM user
    WHERE phone = #{phone}
  </select>

  <!-- 更新数据，可以插入null -->
  <update id="updatePhoneOrEmailToNull" parameterType="com.film.model.User">
    UPDATE USER
    <trim prefix="set" suffixOverrides=",">
      <if test="email == null">
        email = #{email, jdbcType=VARCHAR}
      </if>
      <if test="phone == null">
        phone = #{phone, jdbcType=VARCHAR}
      </if>
    </trim>
  </update>
</mapper>